.registro-container {
  min-height: 90vh;
  background-color: #fff7ee;
}
.titulo-registro {
  font-family: 'Playfair Display', serif;
  color: #d67a0a;
  font-weight: bold;
}
.form-control:focus {
  border-color: #f38b0b;
  box-shadow: 0 0 0 0.25rem rgba(243, 139, 11, 0.25);
}