.registro-container {
  min-height: 90vh;
  background-color: #6416b7;
}
.titulo-registro {
  font-family: 'Playfair Display', serif;
  color: #d67a0a;
  font-weight: bold;
}
.form-control:focus {
  border-color: #0bf38e;
  box-shadow: 0 0 0 0.25rem rgba(35, 11, 122, 0.25);
}