/* Sección Portada */
.hero {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-inicio {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
  max-width: 600px;
  font-family: 'Playfair Display', serif;
}

.texto-inicio h2 {
  font-size: 2rem;
  font-weight: 700;
}

.texto-inicio p {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  line-height: 1.3;
}

/* Sección menú */
.seccion-menu {
  background-color: #fff7ee;
  font-family: 'Playfair Display', serif;
  padding: 4rem 0;
}

.titulo-menu {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(151, 93, 17);
  margin-bottom: 1rem;
}

.subtitulo-menu {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

/* Tarjetas */
.tarjeta-menu {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;


  display: flex;
  flex-direction: column;
  height: 100%;

  .card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
}

.tarjeta-menu:hover {
  transform: translateY(-5px);
}

.tarjeta-menu .card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(151, 93, 17);
}

.tarjeta-menu .card-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.btn-pedido {
  background-color: #f38b0b;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.btn-pedido:hover {
  background-color: #ffa94d;
}

/* Secciones separadas */
.seccion-entradas, .seccion-principales, .seccion-carta {
  margin-bottom: 5rem;
}